.whole-about-page {
  background-image: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.05) ),url(https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Tinos', serif;
  h3 {
    font-family: 'Tinos', serif;
  }
}

.content-about-page {
  padding-top: 7%;
  padding-left: 17%;
  width: 60%;
}

.position-info-title {
  font-family: 'Tinos', serif;
}

.quotes-image-about {
  width: 40px;
  position: relative;
  right: 9%;
  top: 20px;
}

.quotes-image-about2 {
  width: 40px;
  position: relative;
    left: 100%;
    bottom: 15%;
}

.title-about-page {
  font-size: 30px;
  font-family: 'Tinos', serif;
}

.key-skills {
  font-size: 20px;
  font-family: 'Tinos', serif;
}


@media (max-width: 450px) {
  .whole-about-page {
    background-image: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7) ), url(https://images.unsplash.com/photo-1526657782461-9fe13402a841?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=638&q=80);

  }
  .title-about-page {
    text-align: center;
  }

  .quotes-image-about {
    width: 22px;
    right: 10%;
  }
  .quotes-image-about2 {
    width: 22px;
    position: relative;
    left: 90%;
    bottom: 11%;
    padding-bottom: 61px;
  }
  .content-about-page {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
  }
}
