.contact-page-wrapping-whole-content {
  background-image: url(https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#page_title {
  padding-left: 14%;
  font-family: 'Tinos', serif;
}

.whole-contact-info {
  padding-top: 5%;
  padding-left: 19%;
}

.text_area_contact {
  width: 40%;
  border-radius: 10px;
}

.message_area_contact {
  width: 40%;
  height: 200px;
  border-radius: 10px;
  border: 1px solid grey;
}

.label_contact {
  font-family: 'Tinos', serif;
}

.phone-contact {
  padding-left: 20%;
  font-family: 'Tinos', serif;
  font-size: 20px;
  width: 50%;
}
