
.home-whole-content {
  background-image: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.05) ), url(https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.quotes-image {
  width: 30px;
  position: relative;
  right: 40px;
  top: 20px;
}

.quotes-image2 {
  width: 30px;
  position: relative;
  left: 449px;
  bottom: 52px;
}

.title {
  padding-left: 19%;
  padding-top: 15%;
  width: 75%;
  h1 {
    font-family: 'Tinos', serif;
    font-size: 42px;
  }
  h2 {
    font-family: 'Tinos', serif;
    font-size: 42px;
    margin-right: 10px
  }
  h3 {
    font-family: 'Tinos', serif;
    font-size: 42px;
  }
  p {
    font-family: 'Tinos', serif;
    font-size: 32px;
  }
}

.key-javascript {
  display: flex;
  align-items: baseline;
}


@media (max-width: 850px) {
  .title {
    padding-top: 9%;
    h1 {
      font-size: 25px;
    }
    h2 {
      font-size: 25px;
    }
    h3 {
      font-size: 25px;
    }
    p {
      font-size: 25px;
    }
  }
  .quotes-image2 {
    left: 75%;
  }
}

@media (max-width: 680px) {
  .title {
    padding-top: 9%;
    h1 {
      font-size: 20px;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 20px;
    }
  }
  .quotes-image2 {
    left: 75%;
  }
}

@media (max-width: 420px) {
  .home-whole-content {
    background-image: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url(https://images.unsplash.com/photo-1526657782461-9fe13402a841?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=638&q=80);
  }

  .title {
    width: 100%;
    padding-top: 38%;
    padding-left: 8%;
    padding-right: 8%;
    text-align: center;
    h1 {
      font-size: 30px;
      width: 100%;
    }
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 30px;
    }
    p {
      font-size: 25px;
    }
  }
  .quotes-image {
    right: 52%;
    top: 15px;
    width: 20px;
  }
  .quotes-image2 {
    left: 52%;
    width: 22px;
  }
  .front-end-title {
    font-size: 24px;
  }
  .key-javascript {
    display: grid;
    align-items: baseline;
    justify-content: center;
  }
}


@media (max-width: 380px) {
  .home-whole-content {
    background-image: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url(https://images.unsplash.com/photo-1526657782461-9fe13402a841?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=638&q=80);
  }

  .title {
    width: 100%;
    padding-top: 32%;
    padding-left: 8%;
    padding-right: 8%;
    text-align: center;
    h1 {
      font-size: 30px;
      width: 100%;
    }
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 30px;
    }
    p {
      font-size: 25px;
    }
  }
  .quotes-image {
    right: 54%;
    top: 15px;
    width: 20px;
  }
  .quotes-image2 {
    left: 54%;
    width: 22px;
  }
  .front-end-title {
    font-size: 24px;
  }
  .key-javascript {
    display: grid;
    align-items: baseline;
    justify-content: center;
  }
}


@media (max-width: 370px) {
  .home-whole-content {
    background-image: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url(https://images.unsplash.com/photo-1526657782461-9fe13402a841?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=638&q=80);
  }

  .title {
    width: 100%;
    padding-top: 32%;
    padding-left: 9%;
    padding-right: 9%;
    text-align: center;
    h1 {
      font-size: 26px;
      width: 100%;
    }
    h2 {
      font-size: 26px;
    }
    h3 {
      font-size: 26px;
    }
    p {
      font-size: 20px;
    }
  }
  .quotes-image {
    right: 55%;
    top: 15px;
    width: 20px;
  }
  .quotes-image2 {
    left: 55%;
    width: 22px;
  }
  .front-end-title {
    font-size: 24px;
  }
  .key-javascript {
    display: grid;
    align-items: baseline;
    justify-content: center;
  }
}


canvas {
  display: block;
  vertical-align: bottom;
}
/* ---- tsparticles container ---- */
#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #09015f;
  background-repeat: no-repeat;
  background-size: cover;
}




