.whole-porfolio-page {
   background-image: url(https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-portfolio {
  padding-top: 8%;
  text-align: center;
  h1 {
    font-family: 'Tinos', serif;
    font-size: 45px;
    font-variant-caps: all-petite-caps;
  }
  p {
    font-family: 'Tinos', serif;
    font-size: 25px;
  }
  h5 {
    font-family: 'Tinos', serif;
  }
}

.get-in-contact {
  text-align: center;
  font-family: 'Tinos', serif;
}

.get-in-contact-link {
  display: flex;
  justify-content: center;
  width: 180px;
  margin: auto;
  padding: 8px 10px;
  color: black;
  background: whitesmoke;
  text-decoration: none;
  font-family: 'Tinos', serif;
  font-size: 20px;
  box-shadow: 0px 0px 18px black;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: grey;
    transition: 0.5s;
  }
}
