<!-- <div class="stars"></div>
<div class="stars1"></div>
<div class="stars2"></div> -->

<div class="home-whole-content">
  <div class="background-home">
    <div class="title">
      <%= image_tag "quotes.png", class: "quotes-image" %>
      <h1>Hello my name is <em>Gareth Cary</em></h1>
      <h1>Front End Web Developer</h1>
      <div class="key-javascript">
        <h2>I can write in:</h2>
        <p class="typed-text-design"><span id="banner-typed-text"></span></p>
      </div>
      <%= image_tag "quotes2.png", class: "quotes-image2" %>
    </div>
    <br>
   <p><%= link_to "View Portfolio", portfolio_path, class: 'button' %></p>
  </div>
</div>
