.button {
  margin-left: 17%;
  border: 2px solid black;
  padding: 12px 20px;
  color: black;
  background: whitesmoke;
  text-decoration: none;
  font-family: 'Tinos', serif;
  font-size: 23px;
  &:hover {
    text-decoration: none;
    color: black;
    opacity: 0.8;
    transition: 0.5s;
  }
}
