.whole-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 10px;
}

  .card-trip {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 22px 1px black;
    width: 320px;
    margin-bottom: 20px;
    text-decoration: none;
    flex: 1;
    font-family: 'Tinos', serif;
  }

  .card-trip:hover {
    transform: scale(0.95);
    opacity: 0.9;
    transition: 0.5s;
    text-decoration: none !important;
  }

  .card-trip > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    z-index: 10;
  }

  .card-trip h2 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    font-family: 'Tinos', serif;
  }

  .card-trip p {
    font-size: 13px;
    opacity: .7;
    margin: 0;
    font-family: 'Tinos', serif;
  }


  .card-trip .card-trip-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    color: black;
    background-color: white;
  }

  .card-trip-infos .card-trip-user {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;
  }


  .link-blue-line:hover {
    transform: scale(1.03);
    transition: 0.5s;
    text-decoration: none !important;
  }

  .all-cards-list {
    justify-content: space-evenly;
    z-index: 2000000000;
    position: relative;
  }

@media (max-width: 1377px) {
  .whole-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 750px) {
  .whole-card {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 430px) {
  .whole-card {
    grid-template-columns: 1fr;
  }
}
