.nav-bar-one {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5%;
  a {
    color: white;
    margin-right: 1%;
    margin-left: 1%;
    padding: 0.5% 20px;
    border-radius: 5px;
    font-family: 'Tinos', serif;
    &:hover {
      background-color: white;
      color: black;
      text-decoration: none;
      transition: 0.5s;
    }

  }
}

.copyright {
 float: right;
 color: white;
 padding-right: 5px;
}
