.nav-bar-one {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5%;
  a {
    color: white;
    margin-right: 1%;
    margin-left: 1%;
    padding: 0.5% 20px;
    border-radius: 5px;
    font-family: 'Tinos', serif;
    &:hover {
      background-color: white;
      color: black;
      text-decoration: none;
      transition: 0.5s;
    }

  }
}

.copyright {
 float: right;
 padding-top: 4px;
 color: white;
 padding-right: 5px;
}

@media (max-width: 500px) {
  .nav-bar-one {
    a {
      margin-right: 0;
      padding: 1px 4px;
      font-size: 12px;
    }
  }
  .copyright {
    font-size: 10px;
    padding-top: 5px;
  }
}
